body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  position: relative;
  scroll-behavior: smooth;
  transition: .4s;
}

::selection {
  background: #4c998a;
}

:root {
  scroll-behavior: smooth;
  --white: #fff;
  --green-dark: #2e4757;
  transition: .4s;
}

@keyframes arrowDown {
  0% {
    opacity: 0;
    transform: translateY(-20px) rotate(90deg);
    color: #80d0c7;
  }
  100% {
    opacity: 1;
    transform: translateY(0px) rotate(90deg);
    color: #2875b0;
  }
}

.light-mode {
  --bodyBg: #f3f3f3;
  --presentationGradient: linear-gradient(45deg, rgba(128, 180, 199, 0.302) 0%, rgba(12, 22, 51, .5) 100%);
  --footerBg: #2e4454;
 background-image: radial-gradient(at 50% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%);
 background-blend-mode: screen, overlay;;
  --questionBg: #e4eaea;
  --titleGradient: linear-gradient(18deg,rgb(61, 109, 101),#2878b0);
  --contactBtnBg: linear-gradient(18deg,#3d956f,#2878b0);
  --companyCardBg:#CDDCDC;
 background-image: radial-gradient(at 50% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%);
 background-blend-mode: screen, overlay;;
  --secundaryTitle: linear-gradient(15deg, #13547a 0%, rgb(128, 208, 199) 100%);
  --countryTitleBg: linear-gradient(15deg, #666666 0%, #666666 100%);
  --textContrast: #000000;
  --textContrastGradient: linear-gradient(15deg, #13547a 0%, #13547a 100%);
  --sMHover: rgb(48, 131, 161);
  --questionsBg: linear-gradient(15deg, #fff 0%, rgb(255, 255, 255) 100%);
  --clientCard: linear-gradient(0deg, rgba(225, 225, 225, 0.5), rgba(225, 225, 225, 0.5)), linear-gradient(
123.82deg, rgb(235, 235, 235) -13.64%, rgb(235, 235, 235) 87.27%);
  --avatarBg: #121f3db3;
  --squareBg: rgba(205, 220, 220, .6);
  --bg-country: #e4eaea;
  --ccBackBg: linear-gradient(0deg, rgba(128, 208, 199, .5), rgba(21, 41, 88, 0.5)), linear-gradient(
123.82deg, rgb(32, 158, 175) -13.64%, rgb(40, 47, 66) 87.27%);
  --smBg: rgb(48, 131, 151);
  --navBarMobile: #f8f8f8;
  --tcReverse: #fff;
}

.dark-mode {
  --bodyBg: #121f3d;
  --presentationGradient: linear-gradient(15deg, rgba(12, 22, 51, .8) 0%, rgba(12, 22, 51, .4) 100%);
  --footerBg: #0c1633;
  --questionBg: #0c1633;
  --titleGradient: linear-gradient(to top,#1c80ad 00%, #37bae8 100%);
  --contactBtnBg: linear-gradient(to right, #248cb9 0%, rgb(62, 157, 202) 100%);;
  --companyCardBg: #142c4c;
  --secundaryTitle: linear-gradient(to top,#1c80ad 00%, #37bae8 100%);
  --countryTitleBg: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  --textContrast: #eff3f8;
  --textContrastGradient: linear-gradient(to top,#eff3f8 00%, #eff3f8 100%);
  --sMHover: #40587c;
  --questionsBg: linear-gradient(to top,#121f3d 00%, #121f3d 100%);
  --clientCard: linear-gradient(0deg, rgba(21, 41, 98, 0.5), rgba(21, 41, 88, 0.5)), linear-gradient(
123.82deg, #1b4e72 -13.64%, rgb(40, 47, 66) 87.27%);
  --avatarBg: #121f3db3;
  --squareBg: rgba(36, 56, 91, .3);
  --bg-country: #152443b3;
  --ccBackBg: linear-gradient(0deg, rgba(21, 41, 98, 0.5), rgba(21, 41, 88, 0.5)), linear-gradient(
123.82deg, rgb(32, 158, 175) -13.64%, rgb(40, 47, 66) 87.27%);
  --smBg: #24385b;
  --navBarMobile: #142c4c;
  --tcReverse: #eff3f8;
}


button {
  border: none;
  outline: none;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
